

/*common shared */
 body{

font-family: 'Open Sans', sans-serif;
}
.button-primary{
    border-radius: 5px;
    background: #FD6E0A; border: 0;font-size: 20px;
    
    font-weight: 700; color: white; padding: 18px 35px 19px 36px;

}


/* nave related styles */
nav{  display: flex;    

justify-content: space-between; 
align-items: center;
margin: 0px 226px
;
     
}
.nav-title{  
    font-size: 45px;
   color: #181818;
    font-weight: 800;
    

}
.span1{


    color:#FD6E0A ;
} 
nav >ul{
display: flex; align-items: center;
}
nav li{ list-style: none; margin: 51px;


}
nav a{
    text-decoration: none; color:#474747 ;
}

/*header related */
.header{  background: #FFF8F3;

}
.banner{padding: 30px 30px 30px 150px; 
display: flex;
align-items: center;

}
.profile-picture{
    width: 584px;
height: 676px;
}